@import url(font-awesome.min.css);


	html, body, div, span{

	
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	
	
	
	

	

	

/* Basic */

	

/* Type */

	body {
		background-color: #fff;
		color: #777;
	}

	body, input, select, textarea {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: normal;
		line-height: 2;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 13.5pt;
			}

		}

		@media screen and (max-width: 1366px) {

			body, input, select, textarea {
				font-size: 12.5pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 11.5pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 11.5pt;
			}

		}

	a {
		-moz-transition: color 0.2s ease;
		-webkit-transition: color 0.2s ease;
		-ms-transition: color 0.2s ease;
		transition: color 0.2s ease;
		
	}

		

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		line-height: 1.5;
		
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			
		}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	

	

	h1, h2, h3, h4, h5, h6 {
		color: #666;
	}

	blockquote {
	
	}

	code {
		background: rgba(144, 144, 144, 0.075);

	}

	hr {

	}



/* estilo botões */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 2em;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: 0.8em;
		font-weight: bold;
		height: 3.5em;
		letter-spacing: 0.1em;
		line-height: 3.65em;
		padding: 0 3em;
		text-align: center;
		
		text-transform: uppercase;
		white-space: nowrap;
		

		}


		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #ededed;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
			color: #666 !important;
		}

			

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			button.alt.icon:before,
			.button.alt.icon:before {
				color: #bbb;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			background-color: #00BC8A;
			color: #ffffff !important;
		}


/* Form */

	


	
			ul.checklist li {
			
				margin-bottom: 1.5em;
				padding-left: 0;
			}

				ul.checklist li:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				ul.checklist li:before {
					content: '\f00c';
					margin-right: 0.75em;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		

				

				
						




/* Table */

	
/* Split */

	.split {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-bottom: 2em;
	}

		.split > * {
			width: 50%;
		}

			.split > *:nth-child(odd) {
				padding-right: 3em;
			}

			.split > *:nth-child(even) {
				padding-left: 3em;
				border-left:
			}

			.split > * > :last-child,
			.split > * > :last-child > :last-child,
			.split > * > :last-child > :last-child > :last-child {
				margin-bottom: 0;
			}

		@media screen and (max-width: 980px) {

			.split > :nth-child(odd) {
				padding-right: 2em;
			}

			.split > :nth-child(even) {
				padding-left: 2em;
			}

		}

		@media screen and (max-width: 736px) {

			.split {
				padding-bottom: 0;
			}

				.split > * {
					width: 100%;
					margin-bottom: 2em;
				}

					.split > *:nth-child(odd) {
						padding-right: 0;
					}

					.split > *:nth-child(even) {
						border-left: none;
						padding-left: 0;
					}

		}

	.split > :nth-child(even) {
		border-left
	}

/* Spotlight */

	.spotlight {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		border-bottom: solid 2px;
		margin-bottom: 3em;
	}

		.spotlight .image {
			width: 40%;
		}

			.spotlight .image img {
				width: 100%;
			}

		.spotlight .content {
			padding: 2em 3em 0.1em 3em;
			width: 60%;
		}

		@media screen and (max-width: 980px) {

			.spotlight .image {
				width: 55%;
			}

			.spotlight .content {
				padding: 1.5em 2em 0.1em 2em;
				width: 45%;
			}

		}

		@media screen and (max-width: 736px) {

			.spotlight {
				display: block;
				margin-bottom: 2em;
			}

				.spotlight .image {
					width: 100%;
				}

				.spotlight .content {
					padding: 1em 2em 0.1em 2em;
					width: 100%;
				}

		}

		@media screen and (max-width: 980px) {

			.spotlight .content {
				padding: 1em 1.5em 0.1em 1.5em;
			}

		}

	.spotlight {
		background-color: white;
		border-bottom-color: rgba(144, 144, 144, 0.25);
	}


			

					

				

				
			.wrapper.style2 input[type="submit"],
			.wrapper.style2 input[type="reset"],
			.wrapper.style2 input[type="button"],
			.wrapper.style2 button,
			.wrapper.style2 .button {
				background-color: #666;
				color: #fafafa !important;
			}

				.wrapper.style2 input[type="submit"].alt,
				.wrapper.style2 input[type="reset"].alt,
				.wrapper.style2 input[type="button"].alt,
				.wrapper.style2 button.alt,
				.wrapper.style2 .button.alt {
					background-color: transparent;
					box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
					color: #666 !important;
				}

					.wrapper.style2 input[type="submit"].alt:hover,
					.wrapper.style2 input[type="reset"].alt:hover,
					.wrapper.style2 input[type="button"].alt:hover,
					.wrapper.style2 button.alt:hover,
					.wrapper.style2 .button.alt:hover {
						background-color: rgba(144, 144, 144, 0.075);
					}

					.wrapper.style2 input[type="submit"].alt:active,
					.wrapper.style2 input[type="reset"].alt:active,
					.wrapper.style2 input[type="button"].alt:active,
					.wrapper.style2 button.alt:active,
					.wrapper.style2 .button.alt:active {
						background-color: rgba(144, 144, 144, 0.2);
					}

					.wrapper.style2 input[type="submit"].alt.icon:before,
					.wrapper.style2 input[type="reset"].alt.icon:before,
					.wrapper.style2 input[type="button"].alt.icon:before,
					.wrapper.style2 button.alt.icon:before,
					.wrapper.style2 .button.alt.icon:before {
						color: #bbb;
					}

				.wrapper.style2 input[type="submit"].special,
				.wrapper.style2 input[type="reset"].special,
				.wrapper.style2 input[type="button"].special,
				.wrapper.style2 button.special,
				.wrapper.style2 .button.special {
					background-color: #00BC8A;
					color: #ffffff !important;
				}

					.wrapper.style2 input[type="submit"].special:hover,
					.wrapper.style2 input[type="reset"].special:hover,
					.wrapper.style2 input[type="button"].special:hover,
					.wrapper.style2 button.special:hover,
					.wrapper.style2 .button.special:hover {
						background-color: #00d69d;
					}

					.wrapper.style2 input[type="submit"].special:active,
					.wrapper.style2 input[type="reset"].special:active,
					.wrapper.style2 input[type="button"].special:active,
					.wrapper.style2 button.special:active,
					.wrapper.style2 .button.special:active {
						background-color: #00a377;
					}

			.wrapper.style2 label {
				color: #666;
			}

			.wrapper.style2 input[type="text"],
			.wrapper.style2 input[type="password"],
			.wrapper.style2 input[type="email"],
			.wrapper.style2 select,
			.wrapper.style2 textarea {
				background: rgba(144, 144, 144, 0.075);
				border-color: rgba(144, 144, 144, 0.25);
			}

				.wrapper.style2 input[type="text"]:focus,
				.wrapper.style2 input[type="password"]:focus,
				.wrapper.style2 input[type="email"]:focus,
				.wrapper.style2 select:focus,
				.wrapper.style2 textarea:focus {
					
					box-shadow: 0 0 0 1px #00BC8A;
				}

			.wrapper.style2 .select-wrapper:before {
				color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style2 input[type="checkbox"] + label,
			.wrapper.style2 input[type="radio"] + label {
				color: #777;
			}

				.wrapper.style2 input[type="checkbox"] + label:before,
				.wrapper.style2 input[type="radio"] + label:before {
					background: rgba(144, 144, 144, 0.075);
					border-color: rgba(144, 144, 144, 0.25);
				}

			.wrapper.style2 input[type="checkbox"]:checked + label:before,
			.wrapper.style2 input[type="radio"]:checked + label:before {
				background-color: #00BC8A;
				border-color: #00BC8A;
				color: #ffffff;
			}

			.wrapper.style2 input[type="checkbox"]:focus + label:before,
			.wrapper.style2 input[type="radio"]:focus + label:before {
				border
				box-shadow: 0 0 0 1px #00BC8A;
			}

			.wrapper.style2 ::-webkit-input-placeholder {
				color: #bbb !important;
			}

			.wrapper.style2 :-moz-placeholder {
				color: #bbb !important;
			}

			.wrapper.style2 ::-moz-placeholder {
				color: #bbb !important;
			}

			.wrapper.style2 :-ms-input-placeholder {
				color: #bbb !important;
			}

			.wrapper.style2 .formerize-placeholder {
				color: #bbb !important;
			}

			.wrapper.style2 form.alt input[type="text"],
			.wrapper.style2 form.alt input[type="password"],
			.wrapper.style2 form.alt input[type="email"],
			.wrapper.style2 form.alt select,
			.wrapper.style2 form.alt textarea {
				background-color: transparent;
			}

			.wrapper.style2 ul.alt li {
				border
			}

			.wrapper.style2 ul.checklist li:before {
				color: #00BC8A;
			}

			.wrapper.style2 ul.contact li:before {
				color: #00BC8A;
			}

			.wrapper.style2 header p {
				color: #bbb;
			}

			.wrapper.style2 table tbody tr {
				border-color: rgba(144, 144, 144, 0.25);
			}

				.wrapper.style2 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(144, 144, 144, 0.075);
				}

			.wrapper.style2 table th {
				color: #666;
			}

			.wrapper.style2 table thead {
				border-bottom-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style2 table tfoot {
				border
			}

			.wrapper.style2 table.alt tbody tr td {
				border-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style2 .split > :nth-child(even) {
				border-left-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style2 .spotlight {
				background-color: white;
				border-bottom-color: rgba(144, 144, 144, 0.25);
			}

			.wrapper.style2.alt {
				border
			}

		@media screen and (max-width: 1366px) {

			.wrapper {
				padding: 4em 2.5em 2em 2.5em;
			}

		}

		@media screen and (max-width: 980px) {

			.wrapper {
				padding: 4em 2em 2em 2em;
			}

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3em 2em 1em 2em;
			}

		}

		@media screen and (max-width: 480px) {

			.wrapper {
				padding: 3em 2em 1em 2em;
			}

		}

/* Banner */

	#banner {
		
		
		background-size: 100px 100px, cover;
		color: rgba(255, 255, 255, 0.5);
		padding: 14em 0 4em;
	}

		#banner h2 {
			-size: 2.5em;
			line-height: 1.4;
			margin-bottom: 0;
			color: #fff;
		}

		#banner p {
			font-size: 1.15em;
			
			line-height: 1.5em;
			margin-bottom: 1.5em;
		}

		

				#banner p {
					font-size: 1.1em;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 8em 2em 2em;
			}

		}

